
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_layoutOtherPage.cshtml";
}

<!-- inner banner start -->
@section scripts{
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Contact Us</h1>
            </div>
        </div>
    </div>
}
<!-- inner banner end -->

<!-- contact start -->
<section class="contact pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="fs-26 f-700 mb-5">We are Here for You</h3>
                <p class="mb-20">Lorem ipsum dolor sit amet consectetur adipi sicing elit, sed do eiusmod tempor incididut labore et dolore magna aliqua. </p>
                <div class="hr-1 bg-black opacity-1 mb-20"></div>
                <h4 class="fs-20 f-700 mb-15">Contact Information</h4>
                <ul class="contacts-list">
                    <li class="mb-15">
                        <span class="icon bg-blue"><i class="fas fa-phone"></i></span>
                        <span class="sub-head">Phone</span>
                        <p>+123 456 7890</p>
                    </li>
                    <li>
                        <span class="icon bg-blue"><i class="fas fa-envelope"></i></span>
                        <span class="sub-head">Email</span>
                        <p>info@example.com</p>
                    </li>
                </ul>
                <div class="hr-1 bg-black opacity-1 mt-25 mb-25"></div>
                <h4 class="fs-20 f-700 mb-15">Address</h4>
                <ul class="contacts-list">
                    <li>
                        <span class="icon bg-blue"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="sub-head">Location</span>
                        <p>2663 Lodgeville Road Minneapolis, Minnesota 55402, USA</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="contact-form bg-blue mt-md-45">
                    <h3 class="fs-26 f-700 white mb-20">Get in Touch with Us</h3>
                    <form class="mf_form_validate ajax_submit" action="sendmail.php" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group relative">
                                    <input type="text" class="form-control input-white" id="FirstName" placeholder="First Name" name="first_name">
                                    <i class="far fa-user transform-v-center"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group relative">
                                    <input type="text" class="form-control input-white" id="LastName" placeholder="Last Name" name="last_name">
                                    <i class="far fa-user transform-v-center"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group relative">
                                    <input type="email" class="form-control input-white" id="YourEmail" placeholder="Your Email" name="email">
                                    <i class="far fa-envelope transform-v-center"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group relative">
                                    <input type="text" class="form-control input-white" id="PhoneNumber" placeholder="Phone Number" name="phone">
                                    <i class="fas fa-phone transform-v-center"></i>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-25 mb-xs-10">
                                <div class="form-group relative">
                                    <select class="form-control input-white select-nice mb-xs-15" name="subject">
                                        <option>Select Your Service</option>
                                        <option>Home Cleaning</option>
                                        <option>Office Cleaning</option>
                                        <option>Carpet Cleaning</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group relative">
                                    <textarea class="form-control input-white light-border mb-25" name="message" cols="30" rows="7" placeholder="Your message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-black shine-btn">Submit</button>
                            </div>
                            <div class="col-lg-12">
                                <div class="server_response w-100"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-45">
            <div class="col-lg-12">
                <div class="map-responsive contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9914406081493!2d2.292292615201654!3d48.85837360866272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sin!4v1571115084828!5m2!1sen!2sin" height="400" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->