<!-- Modal -->
<div class="modal fade" id="exampleModalEditPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fab fa-expeditedssl" style="font-size:40px; margin:0 44%; color:orange" ;></i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <b><span>Current Password</span></b>
                    <input style="border-color:white;" class="form-control" type="password" id="currentPassword" name="currentPassword" required="required" placeholder="..." />
                </div>
                <div class="row">
                    <b><span>New Password</span></b>
                    <input style="border-color:white;" class="form-control" type="password" id="newPassword" name="newPassword" required="required" placeholder="..." />
                </div>
                <div class="row">
                    <b><span>Confirm Password</span></b>
                    <input style="border-color:white;" class="form-control" type="password" id="confirmPassword" name="confirmPassword" required="required" placeholder="..." />
                </div>
            </div>
            <div class="modal-footer editModalFooter">
                <button class="btn btn-warning yes" onclick="changePassword()">Save changes</button>
                <button type="button" class="btn btn-info cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
