
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px">
        <b>Thư xác nhận</b>
    </div>
    <div>
        <pre>
            Bạn vừa đăng kí thành công tài khoản tại Laundry Store.
            Để kích hoạt tài khoản vừa đăng kí, vui lòng xác nhận tại đường dẫn dưới đây !
            click <a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
