
@{
    ViewBag.Title = "forgotPassword";
    Layout = "~/Views/Shared/_LayoutOtherPage.cshtml";
}

<!-- inner banner start -->
@section scripts{
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Quên mật khẩu</h1>
            </div>
        </div>
    </div>
}
<!-- inner banner end -->
<!-- Login area start -->
<section class="login pt-100 pb-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                <div class="login-image bg-cover h-100" style="background-image: url('/Assets/Client/vendors/img/bg/about-vector.png');">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 ">
                <div class="form-area bg-blue">
                    <h2 class="f-700 mb-5 white">Bạn quên mật khẩu</h2>
                    <p class=" white">Nhập email để lấy lại mật khẩu</p>
                    <form action="forgotPassword" method="post">
                        @if (@ViewData["message"] != null)
                        {
                            <div class="alert alert-@ViewData["alert"]" role="alert">
                                @ViewData["message"]
                            </div>
                        }
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="email" class="form-control input-lg input-white shadow-5" id="email" placeholder="Email" required="required" name="email">
                            <i class="far fa-envelope transform-v-center"></i>
                        </div>                  
                        <button type="submit" class="btn btn-black btn-block shine-btn mt-20">XÁC NHẬN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login area end -->
