
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_layoutOtherPage.cshtml";
}

<!-- inner banner start -->
@section scripts{
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Member Detail</h1>
            </div>
        </div>
    </div>
}
<!-- inner banner end -->

<!-- team start -->
<section class="team-detail pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="team-detail-image">
                    <div class="team-member-image img-lined">
                        <img src="~/Assets/Client/vendors/img/team/1.jpg" />
                    </div>
                    <div class="team-member-social mb-md-10">
                        <ul class="social-icons black text-left text-lg-center mt-30 social-icons-lg">
                            <li>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2 class="f-700 mb-5">Jessica David</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor lorem, tempor elementum eros a, tempor aliquet tellus. Proin id arcu lorem. Nam at tellus elementum lorem tincidunt consequat. Suspendisse aliquam vitae mi non eleifend. Aliquam posuere id neque ut finibus. Etiam tristique lorem in neque vehicula fermentum. Aenean in ultrices odio. Sed feugiat maximus mattis. Vivamus at mollis erat. Integer quam orci, iaculis vitae maximus a, fermentum at erat. Aliquam volutpat ex risus.</p>
                <ul class="check-list">
                    <li><span><i class="fas fa-check"></i></span>Pellentesque varius turpis ligula, in cursus leo dictum quis. Nam volutpat. </li>
                    <li><span><i class="fas fa-check"></i></span>Gravida odio ex in nulla. Donec pulvinar odio a sapien vehicula, in accumsan libero</li>
                    <li><span><i class="fas fa-check"></i></span>Donec faucibus sapien sed bibendum dignissim. Nam ac elit nec diam vestibulum.</li>
                    <li><span><i class="fas fa-check"></i></span>Donec sed pretium massa pulvinar efficitur</li>
                </ul>
                <div class="hr-2 bg-light-white mb-25 mt-25"></div>
                <h5 class="f-700">Experience and Background</h5>
                <ul class="experience">
                    <li>
                        <span>1990 - 1992</span>Lorem ipsum, Rehabilitation Institute
                    </li>
                    <li>
                        <span>1992 - 2003</span> Lorem ipsum, JWM Private Texas
                    </li>
                    <li>
                        <span>2003 - Now</span> Lorem ipsum, Bizz, California
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- team end -->