
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner banner start -->
<section class="inner-banner flex-center" style="background-image: url('/Assets/Client/vendors/img/bg/cleanitems.jpg');">
    <div class="container">
        <div class="row z-5 mt-85 align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h1 class="blue">Giới thiệu về chúng tôi</h1>
            </div>
        </div>
    </div>
</section>
<!-- inner banner end -->

<!-- about start -->
<section class="about-3 pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6">
                <div class="about-left-3 relative">
                    <img src="~/Assets/Client/vendors/img/about/bg-shape.png" />
                    <div class="blob play-btn  transform-center">
                        <a href="https://www.youtube.com/watch?v=OGwEWlYCigs" class="popup-video"> <i class="fas fa-play"></i></a>
                    </div>
                    <img src="~/Assets/Client/vendors/img/other/brush.png" class="abt-brush" alt="" />
                    <img src="~/Assets/Client/vendors/img/other/bubble.png" class="abt-brush" alt="" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="about-div mt-md-45">
                    <p class="sub-head blue f-700 mb-5">ABOUT US<span>............</span></p>
                    <h1 class="mb-15">Chúng Tôi Tạo Ra Sự Khác Biệt</h1>
                    <p>
                        Laundry City là thương hiệu hệ thống giặt ủi ( giặt là ) tại Đà Nẵng. Laundry City được xây dựng từ năm 2009 cho đến nay.
                        Trải qua 10 năm hoạt động và phát triển, Laundry City đã và đang là địa điểm dịch vụ tiện ích chất lượng giành cho khách du lịch, khách địa phương, các tổ chức và doanh nghiệp tại Đà Nẵng.
                    </p>
                    <ul class="check-list half-list mb-15 mt-20">
                        <li><span><i class="fas fa-check"></i></span>Giá cả thích hợp</li>
                        <li><span><i class="fas fa-check"></i></span>100% hài lòng</li>
                        <li><span><i class="fas fa-check"></i></span>Đảm bảo tuyệt đối</li>
                        <li><span><i class="fas fa-check"></i></span>Chất lượng dịch vụ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-90 mt-md-00">
            <div class="col-xl-5 col-lg-6">
                <div class="about-div mt-md-45 mt-sm-10">
                    <h1 class="mb-10">Quá trình hình thành và phát triển</h1>
                    <p>
                        Lời đầu tiên, Xí nghiệp giặt là Laundry City xin gửi đến Quý khách hàng lời chào trân trọng nhất, kính chúc Quý khách hàng sức khỏe và thành công trong cuộc sống.
                        trải qua 10 năm xây dựng và phát triển, nhờ có sự đổi mới sáng tạo, liên tục về công nghệ, đầu tư các trang thiết bị hiện đại.
                    </p>
                    <p>
                        Bên cạnh đó đội ngũ của chúng tôi là những cán bộ, nhân viên kỹ thuật, kỹ sư giàu tri thức, kinh nghiệm thực tiễn, năng động, tâm huyết và sự chuyên môn hóa trong từng bộ phận, tính trách nhiệm cao.
                    </p>
                    <p>
                        Trên hành trình phát triển, chúng tôi không thể thiếu sự hợp tác, khích lệ, động viên nhiệt tình của Quý khách hàng. Chúng tôi xin hứa bằng tất cả tấm lòng trong sáng.
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <img src="~/Assets/Client/vendors/img/bg/abt-2.png" class="w-100 mt-md-25" alt="" />
                <img src="~/Assets/Client/vendors/img/other/brush.png" class="mission-bg" alt="" />
                <img src="~/Assets/Client/vendors/img/other/bubble.png" class="mission-bg-2" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- about end -->
<!-- team start -->
<section class="team all-team relative pt-85 pb-90">
    <div class="container">
        <div class="row mb-45 align-items-end">
            <div class="col-lg-9 text-center text-lg-left">
                <p class="sub-head blue f-700 mb-5"><span class="d-sm-inline-block d-lg-none">............</span>ĐỘI NGŨ THÀNH VIÊN<span>............</span></p>
                <h1 class="">Kinh nghiệm làm việc</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="each-teams mb-50 mb-sm-45">
                    <div class="team-image-part">
                        <img src="~/Assets/Client/vendors/img/team/1.jpg" />
                        <ul class="social-icons transform-center white">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="plus-btn bg-blue shadow-blue">+</a>
                    <div class="team-text text-center">
                        <h4 class="fs-22 f-700 mt-20 mb-5"><a href="/About/Detail">Thu Huong</a></h4>
                        <p class="mb-0">CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="each-teams mb-50 mb-sm-45">
                    <div class="team-image-part">
                        <img src="~/Assets/Client/vendors/img/team/2.jpg" />
                        <ul class="social-icons transform-center white">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="plus-btn bg-blue shadow-blue">+</a>
                    <div class="team-text text-center">
                        <h4 class="fs-22 f-700 mt-20 mb-5"><a href="/About/Detail">Huong Giang</a></h4>
                        <p class="mb-0">Chuyên viên tư vấn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="each-teams mb-50 mb-sm-45">
                    <div class="team-image-part">
                        <img src="~/Assets/Client/vendors/img/team/3.jpg" />
                        <ul class="social-icons transform-center white">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="plus-btn bg-blue shadow-blue">+</a>
                    <div class="team-text text-center">
                        <h4 class="fs-22 f-700 mt-20 mb-5"><a href="/About/Detail">Thanh Nhan</a></h4>
                        <p class="mb-0">Hỗ trợ tư vấn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="each-teams mb-50 mb-sm-45">
                    <div class="team-image-part">
                        <img src="~/Assets/Client/vendors/img/team/4.jpg" />
                        <ul class="social-icons transform-center white">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="plus-btn bg-blue shadow-blue">+</a>
                    <div class="team-text text-center">
                        <h4 class="fs-22 f-700 mt-20 mb-5"><a href="/About/Detail">Mai Chau</a></h4>
                        <p class="mb-0">Lễ Tân</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hr-2 bg-black opacity-1 mb-45"></div>
            </div>
        </div>
    </div>
</section>
<!-- our team end -->
